body {
    margin: 0;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    background-color: rgba(183, 175, 175, 0.544);
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

header {
    border-bottom: 1px solid white;
    background: white;
    padding: 5px 6px;
    font-family: "Ojuju", sans-serif;
    font-size: 10px;
    font-family: "Gayathri", sans-serif;
    font-weight: 900;
    font-style: normal;   
    
}

h1 {
    padding-top: 10px;
    background: white;
    margin: 0;
    margin: auto;
    width: 350px;
    
}

article {
    width: 350px;
    margin: auto;
    margin-top: 40px;
}
.article{
    background-color: white;
    margin-bottom:40px;
}

.article_header {
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 12px;
    color: grey;
}

.article_date {
    margin-left: auto;
}

.article_footer {
    margin-right: 8px;
    margin-left: 8px;
    padding-bottom:8px;
    margin-top: 0;
    text-align: justify;
    font-weight: 100;
    font-size: 10px;
}

main {
    padding-bottom: 50px;
}